<div class="col md-6 ">
    <div class="card">
        <div class="card-header">
            <h1>Actualizar datos del auto</h1>
        </div>
        
    <div class="card-body">
      <form action="/update-store/{{data.id}}" method="POST">
        <div class="row">
          <div class="col">
            <label for="name">Nombre:</label>
            <input
              type="text"
              name="name"
              placeholder="{{data.name}}"
              class="form-control mb-3"
              value="{{store.name}}"
              autofocus
            />
          </div>
          <div class="col">
            <label for="street">Calle:</label>
            <input
              type="text"
              name="street"
              placeholder="{{data.street}}"
              class="form-control mb-3"
              value="{{store.street}}"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="neighborhood">Colonia:</label>
            <input
              type="text"
              name="neighborhood"
              placeholder="{{data.neighborhood}}"
              class="form-control mb-3"
              value="{{store.neighborhood}}"
            />
          </div>
          <div class="col">
            <label for="cp">cp:</label>
            <input
              type="text"
              name="cp"
              placeholder="{{data.cp}}"
              class="form-control mb-3"
              value="{{store.cp}}"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="province">Estado:</label>
            <input
              type="text"
              name="province"
              placeholder="{{data.province}}"
              class="form-control mb-3"
              value="{{store.province}}"
            />
          </div>
          <div class="col">
            <label for="phone">Teléfono:</label>
            <input
              type="text"
              name="phone"
              placeholder="{{data.phone}}"
              class="form-control mb-3"
              value="{{store.phone}}"
            />
          </div>
        </div>
        {{#if store.id}}
          <button class="btn btn-primary btn-block">
            Update
          </button>
          <a href="/" class="btn btn-secondary">
            Cancel
          </a>
        {{else}}
          <button class="btn btn-primary btn-block">
            Actuailzar
          </button>
        {{/if}}
      </form>
    </div>
        
    </div>
</div>